body {
    margin: 0;
    padding: 65px 0 0 0;
}

html {
    font-family: sans-serif;
}


/* H E A D E R */

header {
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    width: 100%;
    background-color: #000;
    z-index: 10;
    transition: top 0.2s ease-in-out;
}

#site-id {
    width: 45%;
    max-width: 190px;
    margin: 0 0 0 3%;
    padding: 4px 0 0 0;
}

#site-id img {
    width: 100%;
}

#settings-icon {
    width: 9%;
    max-width: 35px;
    margin: 0 3% 0 0;
}

#settings-icon img {
    width: 100%;
}

.headroom {
    will-change: transform;
    transition: transform 200ms linear;
}

.headroom--pinned {
    transform: translateY(0%);
}

.headroom--unpinned {
    transform: translateY(-100%);
}


/* B O T T O M  N A V */

nav {
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 65px;
    width: 100%;
    background-color: #000;
    z-index: 10;
}

.nav-icon {
    width: 10%;
    max-width: 35px;
}

.nav-icon img {
    width: 100%;
}

.nav-up {
    top: -65px;
}


/* H O M E */



/* H E R O */



/* C A R O U S E L */



/* T V  S H O W */



/* C A T E G O R I E S */



/* S E A R C H */



/* P R O F I L E */

#profile-header {
    display: flex;
    align-items: center;
    height: 165px;
    background: url("../img/7sisters.jpg") no-repeat center;
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.0) 0%, rgba(0, 0, 0, 0.85) 60%, rgba(0, 0, 0, 1) 75%), url('../img/7sisters.jpg') no-repeat center;
	background-size: cover;
}

#profile-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#profile-picture {
    width: 35%;
    max-width: 125px;
    margin: 0 0 0 5%;
}

#profile-picture img {
    width: 100%;
    border: solid 4px #000;
    border-radius: 100px;
}

#profile-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    border-radius: 50px 0px 0px 50px;
    -moz-border-radius: 50px 0px 0px 50px;
    -webkit-border-radius: 50px 0px 0px 50px;
    background: #000;
    padding: 8px 2% 8px 15px;
}

#profile-info h3 {
    margin: 0;
    font-weight: 500;
}

#profile-info p {
    margin: 0;
    font-weight: 100;
}

/* F A Q */