body {
    margin: 0;
    padding: 65px 0;
	background: #000;
}


/* H E A D E R */

header {
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    width: 100%;
    background-color: #000;
    z-index: 10;
    transition: top 0.2s ease-in-out;
}

#site-id {
    width: 45%;
    max-width: 190px;
    margin: 0 0 0 3%;
    padding: 4px 0 0 0;
}

#site-id img {
    width: 100%;
}

#settings-icon {
    width: 9%;
    max-width: 35px;
    margin: 0 3% 0 0;
}

#settings-icon img {
    width: 100%;
}

.headroom {
    will-change: transform;
    transition: transform 200ms linear;
}

.headroom--pinned {
    transform: translateY(0%);
}

.headroom--unpinned {
    transform: translateY(-100%);
}


/* B O T T O M  N A V */

nav {
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 65px;
    width: 100%;
    background-color: #000;
    z-index: 10;
}

.nav-icon {
    width: 10%;
    max-width: 35px;
}

.nav-icon img {
    width: 100%;
}

.nav-up {
    top: -65px;
}


/* H O M E */



/* H E R O */



/* C A R O U S E L */



/* T V  S H O W */



/* C A T E G O R I E S */



/* S E A R C H */

#search h1, h3 {
	text-align: center;
}

#search h1, h3, p {
	color: #fff;
}

.searchbox {
	width: 80%;
	height: auto;
	overflow: auto;
	border-color: #fff;
	padding: 2%;
	background: #000;
	color: #fff;
}

::placeholder {
    color: #fff;
    opacity: 1;
}

/* For Microsoft Edge */

::-ms-input-placeholder {
    color: #fff;
}

.row {
	width: 60%;
	height: auto;
	overflow: auto;
	margin: 0 20% 0 20%;
}

.left-col {
	width: 50%;
	height: auto;
	overflow: auto;
	float: left;
}

.right-col {
	width: 50%;
	height: auto;
	overflow: auto;
	float: left;
}

/* Creating the X's */

.close {
  position: absolute;
  width: 18px;
  height: 18px;
  opacity: 1;
  margin: 1em;
  padding-left: 20%;
}
.close:hover {
  opacity: 0.5;
}
.close:before, .close:after {
  position: absolute;
  content: ' ';
  height: 19px;
  width: 2px;
  background: #fff;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

/* P R O F I L E */



/* F A Q */