body {
    margin: 0;
    padding: 65px 0;

	background: #000;
}

html {
    font-family: 'Segoe UI', Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
}


/* H E A D E R */

header {
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    width: 100%;
    background-color: #000;
    z-index: 10;
    transition: top 0.2s ease-in-out;
    -webkit-box-shadow: 0px 3px 5px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 5px -2px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 5px -2px rgba(0,0,0,0.75);
}

#site-id {
    width: 45%;
    max-width: 190px;
    margin: 0 0 0 3%;
    padding: 4px 0 0 0;
}

#site-id img {
    width: 100%;
}

#settings-icon {
    color: #fff;
    font-size: 1.9em;
    margin: 0 3% 0 0;
}

.headroom {
    will-change: transform;
    transition: transform 200ms linear;
}

.headroom--pinned {
    transform: translateY(0%);
}

.headroom--unpinned {
    transform: translateY(-100%);
}


/* B O T T O M  N A V */

nav {
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 65px;
    width: 100%;
    background-color: #000;
    z-index: 10;
}

.nav-icon {
    color: #fff;
    font-size: 2em;
    transition: color 0.15s;
}


/* H O M E */



/* H E R O */



/* C A R O U S E L */

.multiple-items img {
	width: 100%;
	height: auto;
	overflow: auto;
}

/* T V  S H O W */

#tvshow {
	display: none;
}

/* C A T E G O R I E S */

#categories {
	display: none;
}

/* S E A R C H */

#search {
    display: none;
}

#search h1, #search h3 {
	text-align: center;
}

#search h1, #search h3, #search p {
	color: #fff;
}

.searchbox {
	width: 80%;
	height: auto;
	overflow: auto;
	border-color: #fff;
	padding: 2%;
	background: #000;
	color: #fff;
}

::placeholder {
    color: #fff;
    opacity: 1;
}

/* For Microsoft Edge */

::-ms-input-placeholder {
    color: #fff;
}

.row {
	width: 60%;
	height: auto;
	overflow: auto;
	margin: 0 20% 0 20%;
}

.left-col {
	width: 50%;
	height: auto;
	overflow: auto;
	float: left;
}

.right-col {
	width: 50%;
	height: auto;
	overflow: auto;
	float: left;
}

/* Creating the X's */

.close {
  position: absolute;
  width: 18px;
  height: 18px;
  opacity: 1;
  margin: 1em;
  padding-left: 20%;
}
.close:hover {
  opacity: 0.5;
}
.close:before, .close:after {
  position: absolute;
  content: ' ';
  height: 19px;
  width: 2px;
  background: #fff;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

/* P R O F I L E */

#profile {
	display: none;
}

#profile-header {
    display: flex;
    align-items: center;
    height: 165px;
    background: url("../img/7sisters.jpg") no-repeat center;
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.0) 0%, rgba(0, 0, 0, 0.85) 60%, rgba(0, 0, 0, 1) 75%), url('../img/7sisters.jpg') no-repeat center;
	background-size: cover;
}

#profile-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#profile-picture {
    width: 35%;
    max-width: 125px;
    margin: 0 0 0 5%;
}

#profile-picture img {
    width: 100%;
    border: solid 4px #000;
    border-radius: 100px;
}

#profile-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    border-radius: 50px 0px 0px 50px;
    -moz-border-radius: 50px 0px 0px 50px;
    -webkit-border-radius: 50px 0px 0px 50px;
    background: #000;
    padding: 8px 2% 8px 15px;
    margin: 18px 0 0 0;
}

#profile-info h3 {
    margin: 0;
    font-weight: 500;
}

#profile-info p {
    margin: 0;
    font-weight: 100;
}

#picture-zoom {
    display: none;
    position: absolute;
    top:0;
    height: 100vh;
    width: 100%;
    z-index: 20;
    background-color: rgba(0, 0, 0, 0.85);
}

#picture-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;

}

#picture-zoom img {
    width: 80%;
    max-width: 300px;
    border-radius: 1000px;
}


/* F A Q */

#faq {
    color: #fff;
}

#faq-container {
    width: 90%;
    margin: 0 auto;
}

#faq h3 {
    margin: 10px 0 20px;
    text-align: center;
    font-weight: 400;
}

#faq h4 {
    margin: 15px 0 0;
    transition: color 1s;
    font-weight: 600;
    cursor: pointer;
}

#faq p {
    margin: 5px 0 20px;
}

#a1, #a2, #a3, #a4 {
    display: none;
}

.element-active {
    color: #ff008e !important;
    transition: color 0.15s;
}
